header{
    height: 100px;
    /* top tells how far the margin is from its container */
    top: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: rgb(75, 169, 14);
    border-bottom: 5px solid black;
    margin: 0;
}
img{
    height: 100px;
    margin: 0;
}
body{
    margin-top: 110px;
    background-color: rgb(41, 92, 8);
}
.flexbox-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
