 /* header and nav */
.container {
    margin: 0 auto;
    width: 980px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
}
.logo {
    float: left;
    height: 100%;
}
img{
    height: 80px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li:hover {
    background-color: gray;
}
li a {
    display: block;
    font-size: 17px;
    padding: 39px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
header nav > ul > li {
    float: left;
    position: relative;
}
/* body stuff */
body{
    display: flex;
    align-items: space-between;
    flex-flow: column nowrap;
    margin-left: 40px;
}
main{
    display: flex;
    align-content: center;
}
section{
    display: block;
    height: 500px;
    width: 33%;
    margin-top: 100px;
    flex-flow: row nowrap;
}
button{
    display: block;
    height: 50px;
    flex-flow: row wrap;
}
.card{
    height: 200px;
    width: 150px;
    border: 2px solid black;
    border-radius: 10%;
}